<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="shortcut icon" href="index_favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>0x01fe.net - Register</title>
    </header>
    <body>
        <div class="header">
            <h1>0x01fe.net</h1>
            {{ status|safe }}
        </div>
        <div class="container">
            <!-- Sidebar -->
            <div class="sidebar">
                <a href="/"><u>Home</u></a><br>
                <a href="/games/">Games</a><br>
                <a href="/music/">Music</a><br>
                <a href="/motion-pictures/">Motion Picture</a><br>
                <a href="/programming/">Programming</a><br>
                <a href="/about/">About</a><br>
                <a href="/login/">Login</a>
            </div>

            <div class="dlog">
                <h1>Register</h1>
                <form method="post" action="/user/add/">
                    {{ form.hidden_tag() }}
                    Username: {{ form.username }} <br>
                    Password: {{ form.password }} <br>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </body>
</html>
